body{
font-family:Segoe UI, sans-serif;
margin:0;
background:#0f0f0f;
color:white;
}

/* HERO */

.property-hero{
position:relative;
height:500px;
overflow:hidden;
}

.property-hero img{
width:100%;
height:100%;
object-fit:cover;
}

.hero-overlay{
position:absolute;
bottom:50px;
left:50px;
background:rgba(0,0,0,0.6);
padding:30px 40px;
border-radius:10px;
backdrop-filter:blur(5px);
}

.hero-overlay h1{
margin:0;
font-size:38px;
}

.hero-overlay p{
margin:5px 0 10px;
color:#ccc;
}

.price{
color:#d4af37;
font-size:28px;
font-weight:bold;
}

/* GALLERY */

.property-gallery{
padding:60px 10%;
}

.property-gallery h2{
color:#d4af37;
margin-bottom:30px;
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.gallery-grid img{
width:100%;
height:220px;
object-fit:cover;
border-radius:10px;
transition:0.4s;
}

.gallery-grid img:hover{
transform:scale(1.05);
}

/* DETAILS */

.property-details{
padding:60px 10%;
}

.property-details h2{
color:#d4af37;
margin-bottom:20px;
}

.description{
max-width:750px;
line-height:1.7;
color:#ccc;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-top:30px;
}

.feature-box{
background:#1a1a1a;
padding:20px;
border-radius:10px;
text-align:center;
border:1px solid #222;
transition:0.3s;
}

.feature-box:hover{
border-color:#d4af37;
transform:translateY(-5px);
}

/* CONTACT */

.property-contact{
text-align:center;
padding:70px 20px;
background:#111;
}

.property-contact h2{
margin-bottom:25px;
}

.whatsapp-btn{
background:#d4af37;
color:black;
padding:15px 35px;
border-radius:8px;
font-weight:bold;
text-decoration:none;
transition:0.3s;
}

.whatsapp-btn:hover{
background:#c19b2e;
}

/* BACK BUTTON */

.back-section{
text-align:center;
padding:40px;
}

.back-btn{
color:#d4af37;
text-decoration:none;
font-size:16px;
}

.back-btn:hover{
text-decoration:underline;
}

/* MOBILE */

@media(max-width:768px){

.hero-overlay{
left:20px;
bottom:20px;
padding:20px;
}

.hero-overlay h1{
font-size:24px;
}

.price{
font-size:20px;
}

  }
