/* RESET */

body{
margin:0;
font-family:'Segoe UI', sans-serif;
background:black;
color:white;
overflow:hidden;
}

/* BACK BUTTON */

.back-btn{
position:fixed;
top:20px;
left:20px;
z-index:1000;
background:rgba(0,0,0,0.6);
padding:10px 14px;
border-radius:6px;
text-decoration:none;
color:white;
}

/* REEL CONTAINER */

.reel-gallery{
height:100vh;
overflow-y:scroll;
scroll-snap-type:y mandatory;
}

/* CARD */

.reel-card{
position:relative;
height:100vh;
scroll-snap-align:start;
}

/* IMAGE */

.reel-card img{
width:100%;
height:100%;
object-fit:cover;
}

/* OVERLAY */

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
display:flex;
flex-direction:column;
justify-content:space-between;
padding:20px;
background:linear-gradient(
to top,
rgba(0,0,0,0.7),
rgba(0,0,0,0.1)
);
}

/* TOP BAR */

.top{
display:flex;
justify-content:space-between;
align-items:center;
}

/* BADGE */

.badge{
background:#d4af37;
color:black;
padding:6px 12px;
font-size:12px;
border-radius:4px;
font-weight:bold;
}

/* FAVORITE */

.fav-btn{
background:rgba(0,0,0,0.6);
border:none;
color:white;
font-size:18px;
padding:10px;
border-radius:50%;
cursor:pointer;
transition:0.3s;
}

.fav-btn:hover{
background:#d4af37;
color:black;
}

/* BOTTOM INFO */

.bottom h3{
margin:0;
font-size:22px;
}

.bottom p{
margin:5px 0;
color:#ccc;
}

.bottom span{
color:#d4af37;
font-weight:bold;
font-size:18px;
  }
