/* GLOBAL */

body{
margin:0;
font-family:'Segoe UI', sans-serif;
background:#0f0f0f;
color:white;
}

/* BACK BUTTON */

.back-btn{
position:fixed;
top:20px;
left:20px;
background:#1b1b1b;
color:white;
padding:10px 16px;
border-radius:6px;
text-decoration:none;
font-size:14px;
transition:0.3s;
z-index:1000;
}

.back-btn:hover{
background:#d4af37;
color:black;
}

/* SECTION */

.gallery{
padding:80px 20px;
max-width:1200px;
margin:auto;
}

/* TITLE */

.section-title{
text-align:center;
font-size:40px;
color:#d4af37;
margin-bottom:50px;
}

/* GRID */

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

/* ITEM */

.gallery-item{
position:relative;
overflow:hidden;
border-radius:14px;
cursor:pointer;
}

/* IMAGE */

.gallery-item img{
width:100%;
height:260px;
object-fit:cover;
transition:0.5s;
}

/* HOVER EFFECT */

.gallery-item:hover img{
transform:scale(1.1);
}

/* OVERLAY */

.gallery-item::after{
content:"";
position:absolute;
bottom:0;
left:0;
width:100%;
height:40%;
background:linear-gradient(to top, rgba(0,0,0,0.7), transparent);
opacity:0;
transition:0.3s;
}

.gallery-item:hover::after{
opacity:1;
}

/* ICON */

.gallery-item::before{
content:"🔍";
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%) scale(0.8);
font-size:22px;
background:rgba(0,0,0,0.6);
padding:10px;
border-radius:50%;
opacity:0;
transition:0.3s;
}

.gallery-item:hover::before{
opacity:1;
transform:translate(-50%,-50%) scale(1);
}

/* LIGHTBOX */

.lightbox{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.95);
justify-content:center;
align-items:center;
z-index:2000;
}

/* IMAGE */

.lightbox-img{
max-width:90%;
max-height:85%;
border-radius:10px;
box-shadow:0 20px 60px rgba(0,0,0,0.8);
}

/* CLOSE BUTTON */

.close{
position:absolute;
top:30px;
right:40px;
font-size:40px;
color:white;
cursor:pointer;
}

/* MOBILE */

@media(max-width:768px){

.section-title{
font-size:28px;
}

.gallery-item img{
height:200px;
}

  }
