/* BODY */

body{
margin:0;
font-family:'Segoe UI', sans-serif;
background:#0f0f0f;
color:white;
}

/* BACK BUTTON */

.back-btn{
position:fixed;
top:20px;
left:20px;
background:#1b1b1b;
color:white;
padding:10px 16px;
border-radius:6px;
text-decoration:none;
z-index:1000;
}

.back-btn:hover{
background:#d4af37;
color:black;
}

/* SECTION */

.gallery{
padding:80px 20px;
max-width:1100px;
margin:auto;
}

/* TITLE */

.section-title{
text-align:center;
font-size:34px;
color:#d4af37;
margin-bottom:40px;
}

/* HERO IMAGE */

.gallery-hero{
margin-bottom:25px;
border-radius:14px;
overflow:hidden;
}

.gallery-hero img{
width:100%;
height:280px;
object-fit:cover;
border-radius:14px;
}

/* GRID */

.gallery-grid{
display:grid;
grid-template-columns:repeat(2, 1fr);
gap:15px;
}

/* ITEM */

.gallery-item{
overflow:hidden;
border-radius:12px;
cursor:pointer;
}

/* IMAGE */

.gallery-item img{
width:100%;
height:180px;
object-fit:cover;
transition:0.4s;
}

/* HOVER */

.gallery-item:hover img{
transform:scale(1.08);
}

/* LIGHTBOX */

.lightbox{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.95);
justify-content:center;
align-items:center;
z-index:2000;
}

.lightbox-img{
max-width:90%;
max-height:85%;
border-radius:10px;
}

.close{
position:absolute;
top:30px;
right:30px;
font-size:35px;
cursor:pointer;
}

/* MOBILE */

@media(max-width:768px){

.gallery-hero img{
height:220px;
}

.gallery-grid{
grid-template-columns:1fr;
}

.gallery-item img{
height:200px;
}

  }
